.fixed-header {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff3b7;
  background: rgba(255, 243, 183, 0.9);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
@media (max-width: 960px) {
  .fixed-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.fixed-header._show {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 1200px) {
  .fixed-header._offset-top {
    top: 40px;
  }
}
.fixed-header * {
  box-sizing: border-box;
}
.fixed-header__link, .fixed-header__add-favorites a, .fixed-header__my-favorites a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  -webkit-transition: 0.1s color ease-out;
  transition: 0.1s color ease-out;
}
.fixed-header__link:hover, .fixed-header__add-favorites a:hover, .fixed-header__my-favorites a:hover {
  color: #0088cf;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .fixed-header__link, .fixed-header__add-favorites a, .fixed-header__my-favorites a {
    font-size: 14px;
  }
}
.fixed-header__link._random_node, .fixed-header__add-favorites a._random_node, .fixed-header__my-favorites a._random_node {
  display: block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fixed-header__wrap {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.fixed-header__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-align: center;
  align-items: center;
}
.fixed-header__logo {
  letter-spacing: -0.33em;
  white-space: nowrap;
}
.fixed-header__logo-wrap, .fixed-header__links {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
@media (max-width: 560px) {
  .fixed-header__logo-wrap, .fixed-header__links {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.fixed-header__bukva {
  display: inline-block;
  margin-right: 1px;
  padding: 2px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  line-height: 1;
  letter-spacing: normal;
}
.fixed-header__bukva._a {
  background: #fe73bb;
  color: #ffcf58;
}
.fixed-header__bukva._b {
  color: #fe73bb;
  background: #ffcf58;
}
.fixed-header__bukva._c {
  width: 20px;
}
.fixed-header__random-node {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-top: 2px;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
@media (max-width: 730px) {
  .fixed-header__random-node {
    display: none;
  }
}
.fixed-header__title {
  margin-right: 0.3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  color: #333333;
}
@media (min-width: 1200px) {
  .fixed-header__title {
    font-size: 14px;
  }
}
.fixed-header__logo-wrap, .fixed-header__random-node, .fixed-header__links {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.fixed-header__links {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  padding-top: 2px;
}
@media (max-width: 960px) {
  .fixed-header__links {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
  }
}
@media (max-width: 730px) {
  .fixed-header__links {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    align-content: end;
  }
}
@media (max-width: 560px) {
  .fixed-header__links {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 3px;
  }
}
.fixed-header__add-favorites, .fixed-header__my-favorites {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.fixed-header__add-favorites a, .fixed-header__my-favorites a {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.fixed-header__add-favorites a:before, .fixed-header__my-favorites a:before {
  content: "";
  width: 22px;
  height: 21px;
  margin-right: 5px;
  background-image: url(/sites/all/modules/fixed_header/templates/icons-sprite.png);
}
@media (min-width: 1200px) {
  .fixed-header__add-favorites a:before, .fixed-header__my-favorites a:before {
    margin-right: 10px;
  }
}
@media (max-width: 1200px) {
  .fixed-header__add-favorites a:before, .fixed-header__my-favorites a:before {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media (min-width: 1200px) {
  .fixed-header__add-favorites {
    margin-right: 15px;
  }
}
.fixed-header__add-favorites .flag-action:before {
  background-position: 0 0;
}
.fixed-header__my-favorites .fixed-header__link:before, .fixed-header__my-favorites a:before {
  background-position: -22px 0;
}
.fixed-header .flag-favorites {
  display: block;
}
.fixed-header .flag-favorites .flag-throbber {
  position: absolute;
  left: 100%;
  top: 0;
}

/*# sourceMappingURL=fixed-header.css.map */
